.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.field{
    width: 100%;
}
.field span{
    position: absolute;
    left: 10px;
    top: 120px;
    background: rgb(253, 123, 123);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.field input{
    width: 100%;
    border: none;
    border-bottom: 1px solid orange;
    padding: 10px;
    font-size: larger;
    outline: none;
}

.search-btn{
    width: 150px;
    cursor: pointer;
    font-size: larger;
    border: none;
    outline: none;
    background-color: white;
    border-bottom: 1px solid orange;
}
.search-icon{
    margin-right: 15px;
}



